{% extends 'base.html' %}
{% block content %}
	<p>Login Page</p>
	<form action='' method='post'>
		<legend>Enter the following details as they appear in your ID card to continue:</legend>
		{{ form.hidden_tag() }}
		<p>{{ form.idNumber.label(class="form-label") }}<br>{{ form.idNumber(class="form-control w-50") }}</p>
		{% for error in form.idNumber.errors %}
			<div class="alert alert-danger" role="alert">{{ error }}</div>
		{% endfor %}
		<p>{{ form.serialNumber.label(class="form-label") }}<br>{{ form.serialNumber(class="form-control w-50") }}</p>
		{% for error in form.serialNumber.errors %}
			<div class="alert alert-danger" role="alert">{{ error }}</div>
		{% endfor %}
		<p>{{ form.submit(class="btn btn-outline-info btn-sm") }}</p>
	</form>
{% endblock%}
