<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Test Form</h1>
    <form action="">
        <legend>Legend</legend>
        <div style="display: flex;">
            <img src="1.jpg" style="width: 40px; height: 40px; border-radius: 50px; padding: 10px;">
            <label for="raila" style="margin: auto 0; padding: 10px;">Raila Odinga</label><br>
            <input type="radio" id="raila" name="Presidential" style="margin: auto 0; margin-left: 1rem;">
        </div>
        <div style="display: flex;">
            <img src="2.jpg" style="width: 40px; height: 40px; border-radius: 50px; padding: 10px;">
            <label for="uhuru" style="margin: auto 0; padding: 10px;">Uhuru Kenyatta</label><br>
            <input type="radio" id="uhuru" name="Presidential" style="margin: auto 0; margin-left: 1rem;">
        </div>
        <div style="display: flex;">
            <img src="3.jpg" style="width: 40px; height: 40px; border-radius: 50px; padding: 10px;">
            <label for="kalonzo" style="margin: auto 0; padding: 10px;">Kalonzo Musyoka</label><br>
            <input type="radio" id="kalonzo" name="Presidential" style="margin: auto 0; margin-left: 1rem;">
        </div>
        <div style="display: flex;">
            <img src="4.jpg" style="width: 40px; height: 40px; border-radius: 50px; padding: 10px;">
            <label for="brian" style="margin: auto 0; padding: 10px;">Brian Oyaro</label><br>
            <input type="radio" id="brian" name="Presidential" style="margin: auto 0; margin-left: 1rem;">
        </div>
        <input type="submit" value="submit">
    </form>
</body>
</html>