{% extends 'base.html' %}
{% block content %}
<p>{{ logo }}</p>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <table>
        {% for choice in form.choice %}
        <tr>
            <td>
                {{ choice(class="form-control") }}
            </td>
            <td>
                <label for="{{ choice.id }}">
                    {{ choice.label(class="form-label") }}
                </label>
            </td>
        </tr>
        {% endfor %}
	{% for error in form.choice.errors %}
		<div class="alert alert-danger" role="alert">{{ error }}</div>
	{% endfor %}
    </table>
    <hr>
    <p>{{ form.submit(class="btn btn-outline-info") }}</p>
</form>
{% endblock %}

